* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: #333;
	line-height: 1.5;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(6, 6, 42, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}
